# Spark SQL Stock Prices Exploration

In [1]:
print("Bonjour le monde!")

In [2]:
2 + 5

## Spark application and Spark Context

In [3]:
from pyspark import SparkContext
sc = SparkContext.getOrCreate()

In [4]:
type(sc)

pyspark.context.SparkContext

In [5]:
help(sc)

Help on SparkContext in module pyspark.context object:

class SparkContext(builtins.object)
 |  SparkContext(master=None, appName=None, sparkHome=None, pyFiles=None, environment=None, batchSize=0, serializer=PickleSerializer(), conf=None, gateway=None, jsc=None, profiler_cls=<class 'pyspark.profiler.BasicProfiler'>)
 |
 |  Main entry point for Spark functionality. A SparkContext represents the
 |  connection to a Spark cluster, and can be used to create :class:`RDD` and
 |  broadcast variables on that cluster.
 |
 |  .. note:: Only one :class:`SparkContext` should be active per JVM. You must `stop()`
 |      the active :class:`SparkContext` before creating a new one.
 |
 |  .. note:: :class:`SparkContext` instance is not supported to share across multiple
 |      processes out of the box, and PySpark does not guarantee multi-processing execution.
 |      Use threads instead for concurrent processing purpose.
 |
 |  Methods defined here:
 |
 |  __enter__(self)
 |      Enable 'with SparkContext(...) as sc: app(sc)' syntax.
 |
 |  __exit__(self, type, value, trace)
 |      Enable 'with SparkContext(...) as sc: app' syntax.
 |
 |      Specifically stop the context on exit of the with block.
 |
 |  __getnewargs__(self)
 |
 |  __init__(self, master=None, appName=None, sparkHome=None, pyFiles=None, environment=None, batchSize=0, serializer=PickleSerializer(), conf=None, gateway=None, jsc=None, profiler_cls=<class 'pyspark.profiler.BasicProfiler'>)
 |      Create a new SparkContext. At least the master and app name should be set,
 |      either through the named parameters here or through `conf`.
 |
 |      :param master: Cluster URL to connect to
 |             (e.g. mesos://host:port, spark://host:port, local[4]).
 |      :param appName: A name for your job, to display on the cluster web UI.
 |      :param sparkHome: Location where Spark is installed on cluster nodes.
 |      :param pyFiles: Collection of .zip or .py files to send to the cluster
 |             and add to PYTHONPATH.  These can be paths on the local file
 |             system or HDFS, HTTP, HTTPS, or FTP URLs.
 |      :param environment: A dictionary of environment variables to set on
 |             worker nodes.
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. Set 1 to disable batching, 0 to automatically choose
 |             the batch size based on object sizes, or -1 to use an unlimited
 |             batch size
 |      :param serializer: The serializer for RDDs.
 |      :param conf: A :class:`SparkConf` object setting Spark properties.
 |      :param gateway: Use an existing gateway and JVM, otherwise a new JVM
 |             will be instantiated.
 |      :param jsc: The JavaSparkContext instance (optional).
 |      :param profiler_cls: A class of custom Profiler used to do profiling
 |             (default is pyspark.profiler.BasicProfiler).
 |
 |
 |      >>> from pyspark.context import SparkContext
 |      >>> sc = SparkContext('local', 'test')
 |
 |      >>> sc2 = SparkContext('local', 'test2') # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |          ...
 |      ValueError:...
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  accumulator(self, value, accum_param=None)
 |      Create an :class:`Accumulator` with the given initial value, using a given
 |      :class:`AccumulatorParam` helper object to define how to add values of the
 |      data type if provided. Default AccumulatorParams are used for integers
 |      and floating-point numbers if you do not provide one. For other types,
 |      a custom AccumulatorParam can be used.
 |
 |  addFile(self, path, recursive=False)
 |      Add a file to be downloaded with this Spark job on every node.
 |      The `path` passed can be either a local file, a file in HDFS
 |      (or other Hadoop-supported filesystems), or an HTTP, HTTPS or
 |      FTP URI.
 |
 |      To access the file in Spark jobs, use :meth:`SparkFiles.get` with the
 |      filename to find its download location.
 |
 |      A directory can be given if the recursive option is set to True.
 |      Currently directories are only supported for Hadoop-supported filesystems.
 |
 |      .. note:: A path can be added only once. Subsequent additions of the same path are ignored.
 |
 |      >>> from pyspark import SparkFiles
 |      >>> path = os.path.join(tempdir, "test.txt")
 |      >>> with open(path, "w") as testFile:
 |      ...    _ = testFile.write("100")
 |      >>> sc.addFile(path)
 |      >>> def func(iterator):
 |      ...    with open(SparkFiles.get("test.txt")) as testFile:
 |      ...        fileVal = int(testFile.readline())
 |      ...        return [x * fileVal for x in iterator]
 |      >>> sc.parallelize([1, 2, 3, 4]).mapPartitions(func).collect()
 |      [100, 200, 300, 400]
 |
 |  addPyFile(self, path)
 |      Add a .py or .zip dependency for all tasks to be executed on this
 |      SparkContext in the future.  The `path` passed can be either a local
 |      file, a file in HDFS (or other Hadoop-supported filesystems), or an
 |      HTTP, HTTPS or FTP URI.
 |
 |      .. note:: A path can be added only once. Subsequent additions of the same path are ignored.
 |
 |  binaryFiles(self, path, minPartitions=None)
 |      Read a directory of binary files from HDFS, a local file system
 |      (available on all nodes), or any Hadoop-supported file system URI
 |      as a byte array. Each file is read as a single record and returned
 |      in a key-value pair, where the key is the path of each file, the
 |      value is the content of each file.
 |
 |      .. note:: Small files are preferred, large file is also allowable, but
 |          may cause bad performance.
 |
 |  binaryRecords(self, path, recordLength)
 |      Load data from a flat binary file, assuming each record is a set of numbers
 |      with the specified numerical format (see ByteBuffer), and the number of
 |      bytes per record is constant.
 |
 |      :param path: Directory to the input data files
 |      :param recordLength: The length at which to split the records
 |
 |  broadcast(self, value)
 |      Broadcast a read-only variable to the cluster, returning a :class:`Broadcast`
 |      object for reading it in distributed functions. The variable will
 |      be sent to each cluster only once.
 |
 |  cancelAllJobs(self)
 |      Cancel all jobs that have been scheduled or are running.
 |
 |  cancelJobGroup(self, groupId)
 |      Cancel active jobs for the specified group. See :meth:`SparkContext.setJobGroup`.
 |      for more information.
 |
 |  dump_profiles(self, path)
 |      Dump the profile stats into directory `path`
 |
 |  emptyRDD(self)
 |      Create an RDD that has no partitions or elements.
 |
 |  getConf(self)
 |
 |  getLocalProperty(self, key)
 |      Get a local property set in this thread, or null if it is missing. See
 |      :meth:`setLocalProperty`.
 |
 |  hadoopFile(self, path, inputFormatClass, keyClass, valueClass, keyConverter=None, valueConverter=None, conf=None, batchSize=0)
 |      Read an 'old' Hadoop InputFormat with arbitrary key and value class from HDFS,
 |      a local file system (available on all nodes), or any Hadoop-supported file system URI.
 |      The mechanism is the same as for sc.sequenceFile.
 |
 |      A Hadoop configuration can be passed in as a Python dict. This will be converted into a
 |      Configuration in Java.
 |
 |      :param path: path to Hadoop file
 |      :param inputFormatClass: fully qualified classname of Hadoop InputFormat
 |             (e.g. "org.apache.hadoop.mapred.TextInputFormat")
 |      :param keyClass: fully qualified classname of key Writable class
 |             (e.g. "org.apache.hadoop.io.Text")
 |      :param valueClass: fully qualified classname of value Writable class
 |             (e.g. "org.apache.hadoop.io.LongWritable")
 |      :param keyConverter: (None by default)
 |      :param valueConverter: (None by default)
 |      :param conf: Hadoop configuration, passed in as a dict
 |             (None by default)
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. (default 0, choose batchSize automatically)
 |
 |  hadoopRDD(self, inputFormatClass, keyClass, valueClass, keyConverter=None, valueConverter=None, conf=None, batchSize=0)
 |      Read an 'old' Hadoop InputFormat with arbitrary key and value class, from an arbitrary
 |      Hadoop configuration, which is passed in as a Python dict.
 |      This will be converted into a Configuration in Java.
 |      The mechanism is the same as for sc.sequenceFile.
 |
 |      :param inputFormatClass: fully qualified classname of Hadoop InputFormat
 |             (e.g. "org.apache.hadoop.mapred.TextInputFormat")
 |      :param keyClass: fully qualified classname of key Writable class
 |             (e.g. "org.apache.hadoop.io.Text")
 |      :param valueClass: fully qualified classname of value Writable class
 |             (e.g. "org.apache.hadoop.io.LongWritable")
 |      :param keyConverter: (None by default)
 |      :param valueConverter: (None by default)
 |      :param conf: Hadoop configuration, passed in as a dict
 |             (None by default)
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. (default 0, choose batchSize automatically)
 |
 |  newAPIHadoopFile(self, path, inputFormatClass, keyClass, valueClass, keyConverter=None, valueConverter=None, conf=None, batchSize=0)
 |      Read a 'new API' Hadoop InputFormat with arbitrary key and value class from HDFS,
 |      a local file system (available on all nodes), or any Hadoop-supported file system URI.
 |      The mechanism is the same as for sc.sequenceFile.
 |
 |      A Hadoop configuration can be passed in as a Python dict. This will be converted into a
 |      Configuration in Java
 |
 |      :param path: path to Hadoop file
 |      :param inputFormatClass: fully qualified classname of Hadoop InputFormat
 |             (e.g. "org.apache.hadoop.mapreduce.lib.input.TextInputFormat")
 |      :param keyClass: fully qualified classname of key Writable class
 |             (e.g. "org.apache.hadoop.io.Text")
 |      :param valueClass: fully qualified classname of value Writable class
 |             (e.g. "org.apache.hadoop.io.LongWritable")
 |      :param keyConverter: (None by default)
 |      :param valueConverter: (None by default)
 |      :param conf: Hadoop configuration, passed in as a dict
 |             (None by default)
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. (default 0, choose batchSize automatically)
 |
 |  newAPIHadoopRDD(self, inputFormatClass, keyClass, valueClass, keyConverter=None, valueConverter=None, conf=None, batchSize=0)
 |      Read a 'new API' Hadoop InputFormat with arbitrary key and value class, from an arbitrary
 |      Hadoop configuration, which is passed in as a Python dict.
 |      This will be converted into a Configuration in Java.
 |      The mechanism is the same as for sc.sequenceFile.
 |
 |      :param inputFormatClass: fully qualified classname of Hadoop InputFormat
 |             (e.g. "org.apache.hadoop.mapreduce.lib.input.TextInputFormat")
 |      :param keyClass: fully qualified classname of key Writable class
 |             (e.g. "org.apache.hadoop.io.Text")
 |      :param valueClass: fully qualified classname of value Writable class
 |             (e.g. "org.apache.hadoop.io.LongWritable")
 |      :param keyConverter: (None by default)
 |      :param valueConverter: (None by default)
 |      :param conf: Hadoop configuration, passed in as a dict
 |             (None by default)
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. (default 0, choose batchSize automatically)
 |
 |  parallelize(self, c, numSlices=None)
 |      Distribute a local Python collection to form an RDD. Using xrange
 |      is recommended if the input represents a range for performance.
 |
 |      >>> sc.parallelize([0, 2, 3, 4, 6], 5).glom().collect()
 |      [[0], [2], [3], [4], [6]]
 |      >>> sc.parallelize(xrange(0, 6, 2), 5).glom().collect()
 |      [[], [0], [], [2], [4]]
 |
 |  pickleFile(self, name, minPartitions=None)
 |      Load an RDD previously saved using :meth:`RDD.saveAsPickleFile` method.
 |
 |      >>> tmpFile = NamedTemporaryFile(delete=True)
 |      >>> tmpFile.close()
 |      >>> sc.parallelize(range(10)).saveAsPickleFile(tmpFile.name, 5)
 |      >>> sorted(sc.pickleFile(tmpFile.name, 3).collect())
 |      [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
 |
 |  range(self, start, end=None, step=1, numSlices=None)
 |      Create a new RDD of int containing elements from `start` to `end`
 |      (exclusive), increased by `step` every element. Can be called the same
 |      way as python's built-in range() function. If called with a single argument,
 |      the argument is interpreted as `end`, and `start` is set to 0.
 |
 |      :param start: the start value
 |      :param end: the end value (exclusive)
 |      :param step: the incremental step (default: 1)
 |      :param numSlices: the number of partitions of the new RDD
 |      :return: An RDD of int
 |
 |      >>> sc.range(5).collect()
 |      [0, 1, 2, 3, 4]
 |      >>> sc.range(2, 4).collect()
 |      [2, 3]
 |      >>> sc.range(1, 7, 2).collect()
 |      [1, 3, 5]
 |
 |  runJob(self, rdd, partitionFunc, partitions=None, allowLocal=False)
 |      Executes the given partitionFunc on the specified set of partitions,
 |      returning the result as an array of elements.
 |
 |      If 'partitions' is not specified, this will run over all partitions.
 |
 |      >>> myRDD = sc.parallelize(range(6), 3)
 |      >>> sc.runJob(myRDD, lambda part: [x * x for x in part])
 |      [0, 1, 4, 9, 16, 25]
 |
 |      >>> myRDD = sc.parallelize(range(6), 3)
 |      >>> sc.runJob(myRDD, lambda part: [x * x for x in part], [0, 2], True)
 |      [0, 1, 16, 25]
 |
 |  sequenceFile(self, path, keyClass=None, valueClass=None, keyConverter=None, valueConverter=None, minSplits=None, batchSize=0)
 |      Read a Hadoop SequenceFile with arbitrary key and value Writable class from HDFS,
 |      a local file system (available on all nodes), or any Hadoop-supported file system URI.
 |      The mechanism is as follows:
 |
 |          1. A Java RDD is created from the SequenceFile or other InputFormat, and the key
 |             and value Writable classes
 |          2. Serialization is attempted via Pyrolite pickling
 |          3. If this fails, the fallback is to call 'toString' on each key and value
 |          4. :class:`PickleSerializer` is used to deserialize pickled objects on the Python side
 |
 |      :param path: path to sequncefile
 |      :param keyClass: fully qualified classname of key Writable class
 |             (e.g. "org.apache.hadoop.io.Text")
 |      :param valueClass: fully qualified classname of value Writable class
 |             (e.g. "org.apache.hadoop.io.LongWritable")
 |      :param keyConverter:
 |      :param valueConverter:
 |      :param minSplits: minimum splits in dataset
 |             (default min(2, sc.defaultParallelism))
 |      :param batchSize: The number of Python objects represented as a single
 |             Java object. (default 0, choose batchSize automatically)
 |
 |  setCheckpointDir(self, dirName)
 |      Set the directory under which RDDs are going to be checkpointed. The
 |      directory must be an HDFS path if running on a cluster.
 |
 |  setJobDescription(self, value)
 |      Set a human readable description of the current job.
 |
 |      .. note:: Currently, setting a job description (set to local properties) with multiple
 |          threads does not properly work. Internally threads on PVM and JVM are not synced,
 |          and JVM thread can be reused for multiple threads on PVM, which fails to isolate
 |          local properties for each thread on PVM.
 |
 |          To work around this, you can set `PYSPARK_PIN_THREAD` to
 |          `'true'` (see SPARK-22340). However, note that it cannot inherit the local properties
 |          from the parent thread although it isolates each thread on PVM and JVM with its own
 |          local properties.
 |
 |          To work around this, you should manually copy and set the local
 |          properties from the parent thread to the child thread when you create another thread.
 |
 |  setJobGroup(self, groupId, description, interruptOnCancel=False)
 |      Assigns a group ID to all the jobs started by this thread until the group ID is set to a
 |      different value or cleared.
 |
 |      Often, a unit of execution in an application consists of multiple Spark actions or jobs.
 |      Application programmers can use this method to group all those jobs together and give a
 |      group description. Once set, the Spark web UI will associate such jobs with this group.
 |
 |      The application can use :meth:`SparkContext.cancelJobGroup` to cancel all
 |      running jobs in this group.
 |
 |      >>> import threading
 |      >>> from time import sleep
 |      >>> result = "Not Set"
 |      >>> lock = threading.Lock()
 |      >>> def map_func(x):
 |      ...     sleep(100)
 |      ...     raise Exception("Task should have been cancelled")
 |      >>> def start_job(x):
 |      ...     global result
 |      ...     try:
 |      ...         sc.setJobGroup("job_to_cancel", "some description")
 |      ...         result = sc.parallelize(range(x)).map(map_func).collect()
 |      ...     except Exception as e:
 |      ...         result = "Cancelled"
 |      ...     lock.release()
 |      >>> def stop_job():
 |      ...     sleep(5)
 |      ...     sc.cancelJobGroup("job_to_cancel")
 |      >>> suppress = lock.acquire()
 |      >>> suppress = threading.Thread(target=start_job, args=(10,)).start()
 |      >>> suppress = threading.Thread(target=stop_job).start()
 |      >>> suppress = lock.acquire()
 |      >>> print(result)
 |      Cancelled
 |
 |      If interruptOnCancel is set to true for the job group, then job cancellation will result
 |      in Thread.interrupt() being called on the job's executor threads. This is useful to help
 |      ensure that the tasks are actually stopped in a timely manner, but is off by default due
 |      to HDFS-1208, where HDFS may respond to Thread.interrupt() by marking nodes as dead.
 |
 |      .. note:: Currently, setting a group ID (set to local properties) with multiple threads
 |          does not properly work. Internally threads on PVM and JVM are not synced, and JVM
 |          thread can be reused for multiple threads on PVM, which fails to isolate local
 |          properties for each thread on PVM.
 |
 |          To work around this, you can set `PYSPARK_PIN_THREAD` to
 |          `'true'` (see SPARK-22340). However, note that it cannot inherit the local properties
 |          from the parent thread although it isolates each thread on PVM and JVM with its own
 |          local properties.
 |
 |          To work around this, you should manually copy and set the local
 |          properties from the parent thread to the child thread when you create another thread.
 |
 |  setLocalProperty(self, key, value)
 |      Set a local property that affects jobs submitted from this thread, such as the
 |      Spark fair scheduler pool.
 |
 |      .. note:: Currently, setting a local property with multiple threads does not properly work.
 |          Internally threads on PVM and JVM are not synced, and JVM thread
 |          can be reused for multiple threads on PVM, which fails to isolate local properties
 |          for each thread on PVM.
 |
 |          To work around this, you can set `PYSPARK_PIN_THREAD` to
 |          `'true'` (see SPARK-22340). However, note that it cannot inherit the local properties
 |          from the parent thread although it isolates each thread on PVM and JVM with its own

In [6]:
dir(sc)

['PACKAGE_EXTENSIONS',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__enter__',
 '__eq__',
 '__exit__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_accumulatorServer',
 '_active_spark_context',
 '_batchSize',
 '_callsite',
 '_checkpointFile',
 '_conf',
 '_dictToJavaMap',
 '_do_init',
 '_encryption_enabled',
 '_ensure_initialized',
 '_gateway',
 '_getJavaStorageLevel',
 '_initialize_context',
 '_javaAccumulator',
 '_jsc',
 '_jvm',
 '_lock',
 '_next_accum_id',
 '_pickled_broadcast_vars',
 '_python_includes',
 '_repr_html_',
 '_serialize_to_jvm',
 '_temp_dir',
 '_unbatched_serializer',
 'accumulator',
 'addFile',
 'addPyFile',
 'appName',
 'applicationId',
 'binaryFiles',
 'binaryRecords',
 'broadcast',
 'cancelAllJobs',
 'cancelJobGroup',
 'defaultMinPartitions',
 'defaultParallelism',
 'dump_profiles',
 'emptyRDD',
 'environment',
 'getConf',
 'getLocalProperty',
 'getOrCreate',
 'hadoopFile',
 'hadoopRDD',
 'master',
 'newAPIHadoopFile',
 'newAPIHadoopRDD',
 'parallelize',
 'pickleFile',
 'profiler_collector',
 'pythonExec',
 'pythonVer',
 'range',
 'resources',
 'runJob',
 'sequenceFile',
 'serializer',
 'setCheckpointDir',
 'setJobDescription',
 'setJobGroup',
 'setLocalProperty',
 'setLogLevel',
 'setSystemProperty',
 'show_profiles',
 'sparkHome',
 'sparkUser',
 'startTime',
 'statusTracker',
 'stop',
 'textFile',
 'uiWebUrl',
 'union',
 'version',
 'wholeTextFiles']

## Load data into Spark
## RDD

In [7]:
data = [1, 2, 3, 4]
distributedData = sc.parallelize(data)

In [8]:
tesla_file = 'TSLA.csv'
tesla_rdd = sc.textFile(tesla_file)
tesla_rdd.take(5)

['Date,Open,High,Low,Close,AdjClose,Volume',
 '2019-07-15,248.000000,254.419998,244.860001,253.500000,253.500000,11000100',
 '2019-07-16,249.300003,253.529999,247.929993,252.380005,252.380005,8149000',
 '2019-07-17,255.669998,258.309998,253.350006,254.860001,254.860001,9764700',
 '2019-07-18,255.050003,255.750000,251.889999,253.539993,253.539993,4764500']

In [9]:
type(tesla_rdd)

pyspark.rdd.RDD

In [10]:
csv_rdd = tesla_rdd.map(lambda row: row.split(","))

In [11]:
csv_rdd.collect()

[['Date', 'Open', 'High', 'Low', 'Close', 'AdjClose', 'Volume'],
 ['2019-07-15',
  '248.000000',
  '254.419998',
  '244.860001',
  '253.500000',
  '253.500000',
  '11000100'],
 ['2019-07-16',
  '249.300003',
  '253.529999',
  '247.929993',
  '252.380005',
  '252.380005',
  '8149000'],
 ['2019-07-17',
  '255.669998',
  '258.309998',
  '253.350006',
  '254.860001',
  '254.860001',
  '9764700'],
 ['2019-07-18',
  '255.050003',
  '255.750000',
  '251.889999',
  '253.539993',
  '253.539993',
  '4764500'],
 ['2019-07-19',
  '255.690002',
  '259.959991',
  '254.619995',
  '258.179993',
  '258.179993',
  '7048400'],
 ['2019-07-22',
  '258.750000',
  '262.149994',
  '254.190002',
  '255.679993',
  '255.679993',
  '6842400'],
 ['2019-07-23',
  '256.709991',
  '260.480011',
  '254.500000',
  '260.170013',
  '260.170013',
  '5023100'],
 ['2019-07-24',
  '259.170013',
  '266.070007',
  '258.160004',
  '264.880005',
  '264.880005',
  '11072800'],
 ['2019-07-25',
  '233.500000',
  '234.500000',
  '225.550003',
  '228.820007',
  '228.820007',
  '22418300'],
 ['2019-07-26',
  '226.919998',
  '230.259995',
  '222.250000',
  '228.039993',
  '228.039993',
  '10027700'],
 ['2019-07-29',
  '227.089996',
  '235.940002',
  '226.029999',
  '235.770004',
  '235.770004',
  '9273300'],
 ['2019-07-30',
  '232.899994',
  '243.360001',
  '232.179993',
  '242.259995',
  '242.259995',
  '8109000'],
 ['2019-07-31',
  '243.000000',
  '246.679993',
  '236.649994',
  '241.610001',
  '241.610001',
  '9178200'],
 ['2019-08-01',
  '242.649994',
  '244.509995',
  '231.770004',
  '233.850006',
  '233.850006',
  '8259500'],
 ['2019-08-02',
  '231.350006',
  '236.270004',
  '229.229996',
  '234.339996',
  '234.339996',
  '6136500'],
 ['2019-08-05',
  '229.600006',
  '231.369995',
  '225.779999',
  '228.320007',
  '228.320007',
  '7028300'],
 ['2019-08-06',
  '231.880005',
  '232.500000',
  '225.750000',
  '230.750000',
  '230.750000',
  '5564200'],
 ['2019-08-07',
  '226.500000',
  '233.570007',
  '225.800003',
  '233.419998',
  '233.419998',
  '4776500'],
 ['2019-08-08',
  '234.449997',
  '239.800003',
  '232.649994',
  '238.300003',
  '238.300003',
  '5274300'],
 ['2019-08-09',
  '236.050003',
  '238.960007',
  '233.809998',
  '235.009995',
  '235.009995',
  '3898200'],
 ['2019-08-12',
  '232.990005',
  '235.770004',
  '228.750000',
  '229.009995',
  '229.009995',
  '4663900'],
 ['2019-08-13',
  '228.809998',
  '236.000000',
  '227.550003',
  '235.000000',
  '235.000000',
  '4848100'],
 ['2019-08-14',
  '231.210007',
  '231.500000',
  '216.690002',
  '219.619995',
  '219.619995',
  '9562600'],
 ['2019-08-15',
  '220.860001',
  '221.559998',
  '211.550003',
  '215.639999',
  '215.639999',
  '8159600'],
 ['2019-08-16',
  '216.660004',
  '222.240005',
  '216.020004',
  '219.940002',
  '219.940002',
  '5098500'],
 ['2019-08-19',
  '224.210007',
  '227.830002',
  '221.699997',
  '226.830002',
  '226.830002',
  '5309600'],
 ['2019-08-20',
  '227.619995',
  '229.089996',
  '224.539993',
  '225.860001',
  '225.860001',
  '4125200'],
 ['2019-08-21',
  '222.009995',
  '223.220001',
  '217.600006',
  '220.830002',
  '220.830002',
  '7794300'],
 ['2019-08-22',
  '222.800003',
  '225.399994',
  '218.220001',
  '222.149994',
  '222.149994',
  '6559000'],
 ['2019-08-23',
  '219.970001',
  '221.169998',
  '211.000000',
  '211.399994',
  '211.399994',
  '8538600'],
 ['2019-08-26',
  '213.600006',
  '215.020004',
  '211.539993',
  '215.000000',
  '215.000000',
  '5051900'],
 ['2019-08-27',
  '215.740005',
  '218.800003',
  '212.029999',
  '214.080002',
  '214.080002',
  '5416200'],
 ['2019-08-28',
  '213.690002',
  '217.250000',
  '212.309998',
  '215.589996',
  '215.589996',
  '3225500'],
 ['2019-08-29',
  '219.000000',
  '223.399994',
  '218.000000',
  '221.710007',
  '221.710007',
  '5179500'],
 ['2019-08-30',
  '229.149994',
  '232.440002',
  '224.210007',
  '225.610001',
  '225.610001',
  '9320600'],
 ['2019-09-03',
  '224.080002',
  '228.949997',
  '223.160004',
  '225.009995',
  '225.009995',
  '5354100'],
 ['2019-09-04',
  '226.889999',
  '228.460007',
  '219.210007',
  '220.679993',
  '220.679993',
  '5761000'],
 ['2019-09-05',
  '222.500000',
  '229.800003',
  '220.850006',
  '229.580002',
  '229.580002',
  '7395300'],
 ['2019-09-06',
  '227.199997',
  '229.639999',
  '225.169998',
  '227.449997',
  '227.449997',
  '4189400'],
 ['2019-09-09',
  '230.000000',
  '233.759995',
  '229.229996',
  '231.789993',
  '231.789993',
  '4802700'],
 ['2019-09-10',
  '230.800003',
  '235.539993',
  '228.940002',
  '235.539993',
  '235.539993',
  '4883700'],
 ['2019-09-11',
  '237.380005',
  '248.169998',
  '236.000000',
  '247.100006',
  '247.100006',
  '10042800'],
 ['2019-09-12',
  '247.699997',
  '253.500000',
  '244.399994',
  '245.869995',
  '245.869995',
  '8581200'],
 ['2019-09-13',
  '246.960007',
  '248.449997',
  '244.869995',
  '245.199997',
  '245.199997',
  '5313100'],
 ['2019-09-16',
  '246.000000',
  '247.429993',
  '241.169998',
  '242.809998',
  '242.809998',
  '4728100'],
 ['2019-09-17',
  '242.470001',
  '245.600006',
  '240.369995',
  '244.789993',
  '244.789993',
  '3865400'],
 ['2019-09-18',
  '245.000000',
  '248.169998',
  '242.369995',
  '243.490005',
  '243.490005',
  '4170200'],
 ['2019-09-19',
  '246.000000',
  '247.940002',
  '244.839996',
  '246.600006',
  '246.600006',
  '4795800'],
 ['2019-09-20',
  '246.490005',
  '246.949997',
  '238.160004',
  '240.619995',
  '240.619995',
  '6353000'],
 ['2019-09-23',
  '240.000000',
  '245.179993',
  '239.220001',
  '241.229996',
  '241.229996',
  '4340200'],
 ['2019-09-24',
  '241.520004',
  '241.990005',
  '222.610001',
  '223.210007',
  '223.210007',
  '12891500'],
 ['2019-09-25',
  '224.559998',
  '228.979996',
  '218.360001',
  '228.699997',
  '228.699997',
  '9427100'],
 ['2019-09-26',
  '230.660004',
  '243.309998',
  '227.399994',
  '242.559998',
  '242.559998',
  '11884500'],
 ['2019-09-27',
  '242.199997',
  '248.710007',
  '238.729996',
  '242.130005',
  '242.130005',
  '11116400'],
 ['2019-09-30',
  '243.000000',
  '243.979996',
  '236.110001',
  '240.869995',
  '240.869995',
  '5879800'],
 ['2019-10-01',
  '241.500000',
  '245.949997',
  '239.130005',
  '244.690002',
  '244.690002',
  '6162600'],
 ['2019-10-02',
  '243.289993',
  '244.649994',
  '239.429993',
  '243.130005',
  '243.130005',
  '5631400'],
 ['2019-10-03',
  '231.860001',
  '234.479996',
  '224.279999',
  '233.029999',
  '233.029999',
  '15084500'],
 ['2019-10-04',
  '231.610001',
  '234.779999',
  '228.070007',
  '231.429993',
  '231.429993',
  '7995000'],
 ['2019-10-07',
  '229.800003',
  '238.559998',
  '228.550003',
  '237.720001',
  '237.720001',
  '8064200'],
 ['2019-10-08',
  '235.869995',
  '243.940002',
  '234.500000',
  '240.050003',
  '240.050003',
  '8678200'],
 ['2019-10-09',
  '241.320007',
  '247.300003',
  '240.649994',
  '244.529999',
  '244.529999',
  '6894400'],
 ['2019-10-10',
  '245.279999',
  '249.279999',
  '241.580002',
  '244.740005',
  '244.740005',
  '6283300'],
 ['2019-10-11',
  '247.149994',
  '251.080002',
  '246.809998',
  '247.889999',
  '247.889999',
  '8475400'],
 ['2019-10-14',
  '247.899994',
  '258.549988',
  '247.130005',
  '256.959991',
  '256.959991',
  '10205000'],
 ['2019-10-15',
  '257.700012',
  '260.000000',
  '254.119995',
  '257.890015',
  '257.890015',
  '6432800'],
 ['2019-10-16',
  '257.390015',
  '262.100006',
  '256.920013',
  '259.750000',
  '259.750000',
  '6684100'],
 ['2019-10-17',
  '262.500000',
  '264.779999',
  '260.170013',
  '261.970001',
  '261.970001',
  '4769300'],
 ['2019-10-18',
  '260.700012',
  '262.799988',
  '255.100006',
  '256.950012',
  '256.950012',
  '5749800'],
 ['2019-10-21',
  '258.329987',
  '259.500000',
  '250.179993',
  '253.500000',
  '253.500000',
  '5020300'],
 ['2019-10-22',
  '254.320007',
  '258.329987',
  '250.850006',
  '255.580002',
  '255.580002',
  '4600800'],
 ['2019-10-23',
  '254.500000',
  '256.140015',
  '251.350006',
  '254.679993',
  '254.679993',
  '5261100'],
 ['2019-10-24',
  '298.369995',
  '304.929993',
  '289.200012',
  '299.679993',
  '299.679993',
  '29720900'],
 ['2019-10-25',
  '297.720001',
  '330.000000',
  '296.109985',
  '328.130005',
  '328.130005',
  '30006100'],
 ['2019-10-28',
  '327.540009',
  '340.839996',
  '322.600006',
  '327.709991',
  '327.709991',
  '18870300'],
 ['2019-10-29',
  '319.989990',
  '324.299988',
  '314.750000',
  '316.220001',
  '316.220001',
  '12684300'],
 ['2019-10-30',
  '313.000000',
  '318.790009',
  '309.970001',
  '315.010010',
  '315.010010',
  '9641800'],
 ['2019-10-31',
  '313.100006',
  '319.000000',
  '313.000000',
  '314.920013',
  '314.920013',
  '5067000'],
 ['2019-11-01',
  '316.320007',
  '316.480011',
  '309.799988',
  '313.309998',
  '313.309998',
  '6383900'],
 ['2019-11-04',
  '314.799988',
  '321.940002',
  '309.260010',
  '317.470001',
  '317.470001',
  '8787000'],
 ['2019-11-05',
  '319.619995',
  '323.510010',
  '316.119995',
  '317.220001',
  '317.220001',
  '6943400'],
 ['2019-11-06',
  '318.000000',
  '326.720001',
  '314.500000',
  '326.579987',
  '326.579987',
  '7940900'],
 ['2019-11-07',
  '329.140015',
  '341.500000',
  '328.019989',
  '335.540009',
  '335.540009',
  '14467300'],
 ['2019-11-08',
  '334.500000',
  '337.459991',
  '332.500000',
  '337.140015',
  '337.140015',
  '6069200'],
 ['2019-11-11',
  '343.950012',
  '349.190002',
  '342.000000',
  '345.089996',
  '345.089996',
  '9986700'],
 ['2019-11-12',
  '346.899994',
  '350.369995',
  '344.040009',
  '349.929993',
  '349.929993',
  '7359400'],
 ['2019-11-13',
  '355.000000',
  '356.329987',
  '345.179993',
  '346.109985',
  '346.109985',
  '8420100'],
 ['2019-11-14',
  '346.109985',
  '353.839996',
  '342.910004',
  '349.350006',
  '349.350006',
  '6464900'],
 ['2019-11-15',
  '350.640015',
  '352.799988',
  '348.359985',
  '352.170013',
  '352.170013',
  '4809000'],
 ['2019-11-18',
  '352.920013',
  '353.149994',
  '346.100006',
  '349.989990',
  '349.989990',
  '4400400'],
 ['2019-11-19',
  '351.750000',
  '359.989990',
  '347.799988',
  '359.519989',
  '359.519989',
  '7724800'],
 ['2019-11-20',
  '360.000000',
  '361.200012',
  '349.570007',
  '352.220001',
  '352.220001',
  '6725100'],
 ['2019-11-21',
  '354.510010',
  '360.839996',
  '354.000000',
  '354.829987',
  '354.829987',
  '6110000'],
 ['2019-11-22',
  '340.160004',
  '341.000000',
  '330.000000',
  '333.040009',
  '333.040009',
  '16870600'],
 ['2019-11-25',
  '344.320007',
  '344.570007',
  '334.459991',
  '336.339996',
  '336.339996',
  '12339500'],
 ['2019-11-26',
  '335.269989',
  '335.500000',
  '327.100006',
  '328.920013',
  '328.920013',
  '7947400'],
 ['2019-11-27',
  '331.119995',
  '333.929993',
  '328.570007',
  '331.290009',
  '331.290009',
  '5555600'],
 ['2019-11-29',
  '331.109985',
  '331.260010',
  '327.500000',
  '329.940002',
  '329.940002',
  '2465600'],
 ['2019-12-02',
  '329.399994',
  '336.380005',
  '328.690002',
  '334.869995',
  '334.869995',
  '6074500'],
 ['2019-12-03',
  '332.619995',
  '337.910004',
  '332.190002',
  '336.200012',
  '336.200012',
  '6573700'],
 ['2019-12-04',
  '337.750000',
  '337.859985',
  '332.850006',
  '333.029999',
  '333.029999',
  '5533000'],
 ['2019-12-05',
  '332.829987',
  '334.420013',
  '327.250000',
  '330.369995',
  '330.369995',
  '3724600'],
 ['2019-12-06',
  '335.000000',
  '338.859985',
  '334.769989',
  '335.890015',
  '335.890015',
  '7612400'],
 ['2019-12-09',
  '336.589996',
  '344.450012',
  '335.079987',
  '339.529999',
  '339.529999',
  '9023100'],
 ['2019-12-10',
  '339.959991',
  '350.730011',
  '339.309998',
  '348.839996',
  '348.839996',
  '8828300'],
 ['2019-12-11',
  '351.880005',
  '357.190002',
  '351.089996',
  '352.700012',
  '352.700012',
  '6897800'],
 ['2019-12-12',
  '354.920013',
  '362.739990',
  '353.230011',
  '359.679993',
  '359.679993',
  '7763900'],
 ['2019-12-13',
  '361.049988',
  '365.209991',
  '354.640015',
  '358.390015',
  '358.390015',
  '6570900'],
 ['2019-12-16',
  '362.549988',
  '383.609985',
  '362.500000',
  '381.500000',
  '381.500000',
  '18174200'],
 ['2019-12-17',
  '378.989990',
  '385.500000',
  '375.899994',
  '378.989990',
  '378.989990',
  '8496800'],
 ['2019-12-18',
  '380.630005',
  '395.220001',
  '380.579987',
  '393.149994',
  '393.149994',
  '14121000'],
 ['2019-12-19',
  '397.320007',
  '406.850006',
  '396.500000',
  '404.040009',
  '404.040009',
  '18107100'],
 ['2019-12-20',
  '410.290009',
  '413.000000',
  '400.190002',
  '405.589996',
  '405.589996',
  '14752700'],
 ['2019-12-23',
  '411.779999',
  '422.010010',
  '410.000000',
  '419.220001',
  '419.220001',
  '13319600'],
 ['2019-12-24',
  '418.359985',
  '425.470001',
  '412.690002',
  '425.250000',
  '425.250000',
  '8054700'],
 ['2019-12-26',
  '427.910004',
  '433.480011',
  '426.350006',
  '430.940002',
  '430.940002',
  '10633900'],
 ['2019-12-27',
  '435.000000',
  '435.309998',
  '426.109985',
  '430.380005',
  '430.380005',
  '9945700'],
 ['2019-12-30',
  '428.790009',
  '429.000000',
  '409.260010',
  '414.700012',
  '414.700012',
  '12586400'],
 ['2019-12-31',
  '405.000000',
  '421.290009',
  '402.079987',
  '418.329987',
  '418.329987',
  '10285700'],
 ['2020-01-02',
  '424.500000',
  '430.700012',
  '421.709991',
  '430.260010',
  '430.260010',
  '9532100'],
 ['2020-01-03',
  '440.500000',
  '454.000000',
  '436.920013',
  '443.010010',
  '443.010010',
  '17778500'],
 ['2020-01-06',
  '440.470001',
  '451.559998',
  '440.000000',
  '451.540009',
  '451.540009',
  '10133000'],
 ['2020-01-07',
  '461.399994',
  '471.630005',
  '453.359985',
  '469.059998',
  '469.059998',
  '17882100'],
 ['2020-01-08',
  '473.700012',
  '498.489990',
  '468.230011',
  '492.140015',
  '492.140015',
  '31144300'],
 ['2020-01-09',
  '497.100006',
  '498.799988',
  '472.869995',
  '481.339996',
  '481.339996',
  '28440400'],
 ['2020-01-10',
  '481.790009',
  '484.940002',
  '473.700012',
  '478.149994',
  '478.149994',
  '12959500'],
 ['2020-01-13',
  '493.500000',
  '525.630005',
  '492.000000',
  '524.859985',
  '524.859985',
  '26517600'],
 ['2020-01-14',
  '544.260010',
  '547.409973',
  '524.900024',
  '537.919983',
  '537.919983',
  '28996200'],
 ['2020-01-15',
  '529.760010',
  '537.840027',
  '516.789978',
  '518.500000',
  '518.500000',
  '17368800'],
 ['2020-01-16',
  '493.750000',
  '514.460022',
  '492.170013',
  '513.489990',
  '513.489990',
  '21736700'],
 ['2020-01-17',
  '507.609985',
  '515.669983',
  '503.160004',
  '510.500000',
  '510.500000',
  '13629100'],
 ['2020-01-21',
  '530.250000',
  '548.580017',
  '528.409973',
  '547.200012',
  '547.200012',
  '17803500'],
 ['2020-01-22',
  '571.890015',
  '594.500000',
  '559.099976',
  '569.559998',
  '569.559998',
  '31369000'],
 ['2020-01-23',
  '564.250000',
  '582.000000',
  '555.599976',
  '572.200012',
  '572.200012',
  '19651000'],
 ['2020-01-24',
  '570.630005',
  '573.859985',
  '554.260010',
  '564.820007',
  '564.820007',
  '14353600'],
 ['2020-01-27',
  '541.989990',
  '564.440002',
  '539.280029',
  '558.020020',
  '558.020020',
  '13608100'],
 ['2020-01-28',
  '568.489990',
  '576.809998',
  '558.080017',
  '566.900024',
  '566.900024',
  '11788500'],
 ['2020-01-29',
  '575.690002',
  '589.799988',
  '567.429993',
  '580.989990',
  '580.989990',
  '17801500'],
 ['2020-01-30',
  '632.419983',
  '650.880005',
  '618.000000',
  '640.809998',
  '640.809998',
  '29005700'],
 ['2020-01-31',
  '640.000000',
  '653.000000',
  '632.520020',
  '650.570007',
  '650.570007',
  '15719300'],
 ['2020-02-03',
  '673.690002',
  '786.140015',
  '673.520020',
  '780.000000',
  '780.000000',
  '47233500'],
 ['2020-02-04',
  '882.960022',
  '968.989990',
  '833.880005',
  '887.059998',
  '887.059998',
  '60938800'],
 ['2020-02-05',
  '823.260010',
  '845.979980',
  '704.109985',
  '734.700012',
  '734.700012',
  '48423800'],
 ['2020-02-06',
  '699.919983',
  '795.830017',
  '687.000000',
  '748.960022',
  '748.960022',
  '39880800'],
 ['2020-02-07',
  '730.549988',
  '769.750000',
  '730.000000',
  '748.070007',
  '748.070007',
  '17063500'],
 ['2020-02-10',
  '800.000000',
  '819.989990',
  '752.400024',
  '771.280029',
  '771.280029',
  '24689200'],
 ['2020-02-11',
  '768.789978',
  '783.510010',
  '758.000000',
  '774.380005',
  '774.380005',
  '11697500'],
 ['2020-02-12',
  '777.869995',
  '789.750000',
  '763.369995',
  '767.289978',
  '767.289978',
  '12022500'],
 ['2020-02-13',
  '741.840027',
  '818.000000',
  '735.000000',
  '804.000000',
  '804.000000',
  '26289300'],
 ['2020-02-14',
  '787.219971',
  '812.969971',
  '785.500000',
  '800.030029',
  '800.030029',
  '15693700'],
 ['2020-02-18',
  '841.599976',
  '860.000000',
  '832.359985',
  '858.400024',
  '858.400024',
  '16381700'],
 ['2020-02-19',
  '923.500000',
  '944.780029',
  '901.020020',
  '917.419983',
  '917.419983',
  '25423000'],
 ['2020-02-20',
  '911.950012',
  '912.000000',
  '859.940002',
  '899.409973',
  '899.409973',
  '17634900'],
 ['2020-02-21',
  '906.979980',
  '913.059998',
  '880.450012',
  '901.000000',
  '901.000000',
  '14314800'],
 ['2020-02-24',
  '839.000000',
  '863.500000',
  '822.200012',
  '833.789978',
  '833.789978',
  '15192200'],
 ['2020-02-25',
  '849.000000',
  '856.599976',
  '787.000000',
  '799.909973',
  '799.909973',
  '17290500'],
 ['2020-02-26',
  '782.500000',
  '813.309998',
  '776.109985',
  '778.799988',
  '778.799988',
  '14085500'],
 ['2020-02-27',
  '730.000000',
  '739.770020',
  '669.000000',
  '679.000000',
  '679.000000',
  '24149300'],
 ['2020-02-28',
  '629.700012',
  '690.520020',
  '611.520020',
  '667.989990',
  '667.989990',
  '24564200'],
 ['2020-03-02',
  '711.260010',
  '743.690002',
  '686.669983',
  '743.619995',
  '743.619995',
  '20195000'],
 ['2020-03-03',
  '805.000000',
  '806.979980',
  '716.109985',
  '745.510010',
  '745.510010',
  '25784000'],
 ['2020-03-04',
  '763.960022',
  '766.520020',
  '724.729980',
  '749.500000',
  '749.500000',
  '15049000'],
 ['2020-03-05',
  '723.770020',
  '745.750000',
  '718.070007',
  '724.539978',
  '724.539978',
  '10852700'],
 ['2020-03-06',
  '690.000000',
  '707.000000',
  '684.270020',
  '703.479980',
  '703.479980',
  '12662900'],
 ['2020-03-09',
  '605.390015',
  '663.000000',
  '605.000000',
  '608.000000',
  '608.000000',
  '17073700'],
 ['2020-03-10',
  '659.429993',
  '668.000000',
  '608.000000',
  '645.330017',
  '645.330017',
  '15594400'],
 ['2020-03-11',
  '640.200012',
  '653.580017',
  '613.000000',
  '634.229980',
  '634.229980',
  '13322500'],
 ['2020-03-12',
  '580.890015',
  '594.500000',
  '546.250000',
  '560.549988',
  '560.549988',
  '18909100'],
 ['2020-03-13',
  '595.000000',
  '607.570007',
  '502.000000',
  '546.619995',
  '546.619995',
  '22640300'],
 ['2020-03-16',
  '469.500000',
  '494.869995',
  '442.170013',
  '445.070007',
  '445.070007',
  '20489500'],
 ['2020-03-17',
  '440.010010',
  '471.850006',
  '396.000000',
  '430.200012',
  '430.200012',
  '23994600'],
 ['2020-03-18',
  '389.000000',
  '404.859985',
  '350.510010',
  '361.220001',
  '361.220001',
  '23786200'],
 ['2020-03-19',
  '374.700012',
  '452.000000',
  '358.459991',
  '427.640015',
  '427.640015',
  '30195500'],
 ['2020-03-20',
  '438.200012',
  '477.000000',
  '425.790009',
  '427.529999',
  '427.529999',
  '28285500'],
 ['2020-03-23',
  '433.600006',
  '442.000000',
  '410.500000',
  '434.290009',
  '434.290009',
  '16454500'],
 ['2020-03-24',
  '477.299988',
  '513.690002',
  '474.000000',
  '505.000000',
  '505.000000',
  '22895200'],
 ['2020-03-25',
  '545.250000',
  '557.000000',
  '511.109985',
  '539.250000',
  '539.250000',
  '21222700'],
 ['2020-03-26',
  '547.390015',
  '560.000000',
  '512.250000',
  '528.159973',
  '528.159973',
  '17380700'],
 ['2020-03-27',
  '505.000000',
  '525.799988',
  '494.029999',
  '514.359985',
  '514.359985',
  '14377400'],
 ['2020-03-30',
  '510.260010',
  '516.650024',
  '491.230011',
  '502.130005',
  '502.130005',
  '11998100'],
 ['2020-03-31',
  '501.250000',
  '542.960022',

## DataFrame

In [12]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [13]:
li = [('Maryam', 27)]
df = sqlContext.createDataFrame(li, ['name', 'age'])
df.collect()

[Row(name='Maryam', age=27)]

In [14]:
tesla_df = csv_rdd.toDF(['date', 'open', 'high', 'low', 'close', 'adjclose', 'volume'])
tesla_df.take(5)

[Row(date='Date', open='Open', high='High', low='Low', close='Close', adjclose='AdjClose', volume='Volume'),
 Row(date='2019-07-15', open='248.000000', high='254.419998', low='244.860001', close='253.500000', adjclose='253.500000', volume='11000100'),
 Row(date='2019-07-16', open='249.300003', high='253.529999', low='247.929993', close='252.380005', adjclose='252.380005', volume='8149000'),
 Row(date='2019-07-17', open='255.669998', high='258.309998', low='253.350006', close='254.860001', adjclose='254.860001', volume='9764700'),
 Row(date='2019-07-18', open='255.050003', high='255.750000', low='251.889999', close='253.539993', adjclose='253.539993', volume='4764500')]

In [15]:
amazon_file = 'AMZN.csv'
amazon_df = sqlContext.read.load(amazon_file,
                                format='com.databricks.spark.csv',
                                header='true',
                                inferSchema='true')

In [16]:
amazon_df.take(2)

[Row(Date='2019-07-15', Open=2021.400024, High=2022.900024, Low=2001.550049, Close=2020.98999, AdjClose=2020.98999, Volume=2981300),
 Row(Date='2019-07-16', Open=2010.579956, High=2026.319946, Low=2001.219971, Close=2009.900024, AdjClose=2009.900024, Volume=2618200)]

In [17]:
amazon_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- AdjClose: double (nullable = true)
 |-- Volume: integer (nullable = true)

In [18]:
amazon_df.count()

253

In [19]:
amazon_df.show()

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
|2019-07-17|2007.050049|     2012.0|1992.030029|1992.030029|1992.030029|2558800|
|2019-07-18| 1980.01001|     1987.5|1951.550049|1977.900024|1977.900024|3504300|
|2019-07-19|1991.209961|     1996.0| 1962.22998| 1964.52002| 1964.52002|3185600|
|2019-07-22|1971.140015|     1989.0| 1958.26001|1985.630005|1985.630005|2900000|
|2019-07-23| 1995.98999|1997.790039|1973.130005| 1994.48999| 1994.48999|2703500|
|2019-07-24|1969.300049|2001.300049|1965.869995|2000.810059|2000.810059|2631300|
|2019-07-25|     2001.0|2001.199951|1972.719971|1973.819946|1973.819946|4136500|
|2019-07-26|     1942.0|1950.900024| 1924.51001|1943.050049|1943.050049|4927100|
|2019-07-29|     1930.0| 1932.22998|1890.540039|1912.449951|1912.449951|4493200|
|2019-07-30|1891.119995|1909.890015| 1883.47998|1898.530029|1898.530029|2910900|
|2019-07-31|1898.109985|1899.550049|1849.439941|1866.780029|1866.780029|4470700|
|2019-08-01|1871.719971|1897.920044| 1844.01001|1855.319946|1855.319946|4713300|
|2019-08-02|1845.069946|1846.359985| 1808.02002| 1823.23999| 1823.23999|4956200|
|2019-08-05|1770.219971|1788.670044|1748.780029|1765.130005|1765.130005|6058200|
|2019-08-06| 1792.22998| 1793.77002|1753.400024|1787.829956|1787.829956|5070300|
|2019-08-07| 1773.98999|1798.930054|     1757.0|1793.400024|1793.400024|4526900|
|2019-08-08|     1806.0| 1834.26001|1798.109985|1832.890015|1832.890015|3701200|
|2019-08-09|1828.949951|1831.089966|1802.219971|1807.579956|1807.579956|2879800|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 20 rows

In [20]:
import pandas
amazon_df.toPandas().head(5)

,Date,Open,High,Low,Close,AdjClose,Volume
0,2019-07-15,2021.400024,2022.900024,2001.550049,2020.989990,2020.989990,2981300
1,2019-07-16,2010.579956,2026.319946,2001.219971,2009.900024,2009.900024,2618200
2,2019-07-17,2007.050049,2012.000000,1992.030029,1992.030029,1992.030029,2558800
3,2019-07-18,1980.010010,1987.500000,1951.550049,1977.900024,1977.900024,3504300
4,2019-07-19,1991.209961,1996.000000,1962.229980,1964.520020,1964.520020,3185600

In [21]:
google_file = 'GOOG.csv'
google_df = sqlContext.read.load(google_file,
                                format='com.databricks.spark.csv',
                                header='true',
                                inferSchema='true')

## Explore and Query Data
## DataFrames operations

In [22]:
from pyspark.sql.functions import year, month

google_df.select(year("Date").alias("yr"), "Close").groupby("yr").avg("Close").sort("yr").show()

+----+------------------+
|  yr|        avg(Close)|
+----+------------------+
|2019|1245.3833654621849|
|2020|1362.8286906865671|
+----+------------------+

In [23]:
help(google_df)

Help on DataFrame in module pyspark.sql.dataframe object:

class DataFrame(pyspark.sql.pandas.map_ops.PandasMapOpsMixin, pyspark.sql.pandas.conversion.PandasConversionMixin)
 |  DataFrame(jdf, sql_ctx)
 |
 |  A distributed collection of data grouped into named columns.
 |
 |  A :class:`DataFrame` is equivalent to a relational table in Spark SQL,
 |  and can be created using various functions in :class:`SparkSession`::
 |
 |      people = spark.read.parquet("...")
 |
 |  Once created, it can be manipulated using the various domain-specific-language
 |  (DSL) functions defined in: :class:`DataFrame`, :class:`Column`.
 |
 |  To select a column from the :class:`DataFrame`, use the apply method::
 |
 |      ageCol = people.age
 |
 |  A more concrete example::
 |
 |      # To create DataFrame using SparkSession
 |      people = spark.read.parquet("...")
 |      department = spark.read.parquet("...")
 |
 |      people.filter(people.age > 30).join(department, people.deptId == department.id) \
 |        .groupBy(department.name, "gender").agg({"salary": "avg", "age": "max"})
 |
 |  .. versionadded:: 1.3
 |
 |  Method resolution order:
 |      DataFrame
 |      pyspark.sql.pandas.map_ops.PandasMapOpsMixin
 |      pyspark.sql.pandas.conversion.PandasConversionMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __getattr__(self, name)
 |      Returns the :class:`Column` denoted by ``name``.
 |
 |      >>> df.select(df.age).collect()
 |      [Row(age=2), Row(age=5)]
 |
 |      .. versionadded:: 1.3
 |
 |  __getitem__(self, item)
 |      Returns the column as a :class:`Column`.
 |
 |      >>> df.select(df['age']).collect()
 |      [Row(age=2), Row(age=5)]
 |      >>> df[ ["name", "age"]].collect()
 |      [Row(name='Alice', age=2), Row(name='Bob', age=5)]
 |      >>> df[ df.age > 3 ].collect()
 |      [Row(age=5, name='Bob')]
 |      >>> df[df[0] > 3].collect()
 |      [Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  __init__(self, jdf, sql_ctx)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __repr__(self)
 |      Return repr(self).
 |
 |  agg(self, *exprs)
 |      Aggregate on the entire :class:`DataFrame` without groups
 |      (shorthand for ``df.groupBy.agg()``).
 |
 |      >>> df.agg({"age": "max"}).collect()
 |      [Row(max(age)=5)]
 |      >>> from pyspark.sql import functions as F
 |      >>> df.agg(F.min(df.age)).collect()
 |      [Row(min(age)=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  alias(self, alias)
 |      Returns a new :class:`DataFrame` with an alias set.
 |
 |      :param alias: string, an alias name to be set for the :class:`DataFrame`.
 |
 |      >>> from pyspark.sql.functions import *
 |      >>> df_as1 = df.alias("df_as1")
 |      >>> df_as2 = df.alias("df_as2")
 |      >>> joined_df = df_as1.join(df_as2, col("df_as1.name") == col("df_as2.name"), 'inner')
 |      >>> joined_df.select("df_as1.name", "df_as2.name", "df_as2.age")                 .sort(desc("df_as1.name")).collect()
 |      [Row(name='Bob', name='Bob', age=5), Row(name='Alice', name='Alice', age=2)]
 |
 |      .. versionadded:: 1.3
 |
 |  approxQuantile(self, col, probabilities, relativeError)
 |      Calculates the approximate quantiles of numerical columns of a
 |      :class:`DataFrame`.
 |
 |      The result of this algorithm has the following deterministic bound:
 |      If the :class:`DataFrame` has N elements and if we request the quantile at
 |      probability `p` up to error `err`, then the algorithm will return
 |      a sample `x` from the :class:`DataFrame` so that the *exact* rank of `x` is
 |      close to (p * N). More precisely,
 |
 |        floor((p - err) * N) <= rank(x) <= ceil((p + err) * N).
 |
 |      This method implements a variation of the Greenwald-Khanna
 |      algorithm (with some speed optimizations). The algorithm was first
 |      present in [[https://doi.org/10.1145/375663.375670
 |      Space-efficient Online Computation of Quantile Summaries]]
 |      by Greenwald and Khanna.
 |
 |      Note that null values will be ignored in numerical columns before calculation.
 |      For columns only containing null values, an empty list is returned.
 |
 |      :param col: str, list.
 |        Can be a single column name, or a list of names for multiple columns.
 |      :param probabilities: a list of quantile probabilities
 |        Each number must belong to [0, 1].
 |        For example 0 is the minimum, 0.5 is the median, 1 is the maximum.
 |      :param relativeError:  The relative target precision to achieve
 |        (>= 0). If set to zero, the exact quantiles are computed, which
 |        could be very expensive. Note that values greater than 1 are
 |        accepted but give the same result as 1.
 |      :return:  the approximate quantiles at the given probabilities. If
 |        the input `col` is a string, the output is a list of floats. If the
 |        input `col` is a list or tuple of strings, the output is also a
 |        list, but each element in it is a list of floats, i.e., the output
 |        is a list of list of floats.
 |
 |      .. versionchanged:: 2.2
 |         Added support for multiple columns.
 |
 |      .. versionadded:: 2.0
 |
 |  cache(self)
 |      Persists the :class:`DataFrame` with the default storage level (`MEMORY_AND_DISK`).
 |
 |      .. note:: The default storage level has changed to `MEMORY_AND_DISK` to match Scala in 2.0.
 |
 |      .. versionadded:: 1.3
 |
 |  checkpoint(self, eager=True)
 |      Returns a checkpointed version of this Dataset. Checkpointing can be used to truncate the
 |      logical plan of this :class:`DataFrame`, which is especially useful in iterative algorithms
 |      where the plan may grow exponentially. It will be saved to files inside the checkpoint
 |      directory set with :meth:`SparkContext.setCheckpointDir`.
 |
 |      :param eager: Whether to checkpoint this :class:`DataFrame` immediately
 |
 |      .. note:: Experimental
 |
 |      .. versionadded:: 2.1
 |
 |  coalesce(self, numPartitions)
 |      Returns a new :class:`DataFrame` that has exactly `numPartitions` partitions.
 |
 |      :param numPartitions: int, to specify the target number of partitions
 |
 |      Similar to coalesce defined on an :class:`RDD`, this operation results in a
 |      narrow dependency, e.g. if you go from 1000 partitions to 100 partitions,
 |      there will not be a shuffle, instead each of the 100 new partitions will
 |      claim 10 of the current partitions. If a larger number of partitions is requested,
 |      it will stay at the current number of partitions.
 |
 |      However, if you're doing a drastic coalesce, e.g. to numPartitions = 1,
 |      this may result in your computation taking place on fewer nodes than
 |      you like (e.g. one node in the case of numPartitions = 1). To avoid this,
 |      you can call repartition(). This will add a shuffle step, but means the
 |      current upstream partitions will be executed in parallel (per whatever
 |      the current partitioning is).
 |
 |      >>> df.coalesce(1).rdd.getNumPartitions()
 |      1
 |
 |      .. versionadded:: 1.4
 |
 |  colRegex(self, colName)
 |      Selects column based on the column name specified as a regex and returns it
 |      as :class:`Column`.
 |
 |      :param colName: string, column name specified as a regex.
 |
 |      >>> df = spark.createDataFrame([("a", 1), ("b", 2), ("c",  3)], ["Col1", "Col2"])
 |      >>> df.select(df.colRegex("`(Col1)?+.+`")).show()
 |      +----+
 |      |Col2|
 |      +----+
 |      |   1|
 |      |   2|
 |      |   3|
 |      +----+
 |
 |      .. versionadded:: 2.3
 |
 |  collect(self)
 |      Returns all the records as a list of :class:`Row`.
 |
 |      >>> df.collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |
 |      .. versionadded:: 1.3
 |
 |  corr(self, col1, col2, method=None)
 |      Calculates the correlation of two columns of a :class:`DataFrame` as a double value.
 |      Currently only supports the Pearson Correlation Coefficient.
 |      :func:`DataFrame.corr` and :func:`DataFrameStatFunctions.corr` are aliases of each other.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |      :param method: The correlation method. Currently only supports "pearson"
 |
 |      .. versionadded:: 1.4
 |
 |  count(self)
 |      Returns the number of rows in this :class:`DataFrame`.
 |
 |      >>> df.count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  cov(self, col1, col2)
 |      Calculate the sample covariance for the given columns, specified by their names, as a
 |      double value. :func:`DataFrame.cov` and :func:`DataFrameStatFunctions.cov` are aliases.
 |
 |      :param col1: The name of the first column
 |      :param col2: The name of the second column
 |
 |      .. versionadded:: 1.4
 |
 |  createGlobalTempView(self, name)
 |      Creates a global temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createGlobalTempView("people")
 |      >>> df2 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createGlobalTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.1
 |
 |  createOrReplaceGlobalTempView(self, name)
 |      Creates or replaces a global temporary view using the given name.
 |
 |      The lifetime of this temporary view is tied to this Spark application.
 |
 |      >>> df.createOrReplaceGlobalTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceGlobalTempView("people")
 |      >>> df3 = spark.sql("select * from global_temp.people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropGlobalTempView("people")
 |
 |      .. versionadded:: 2.2
 |
 |  createOrReplaceTempView(self, name)
 |      Creates or replaces a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |
 |      >>> df.createOrReplaceTempView("people")
 |      >>> df2 = df.filter(df.age > 3)
 |      >>> df2.createOrReplaceTempView("people")
 |      >>> df3 = spark.sql("select * from people")
 |      >>> sorted(df3.collect()) == sorted(df2.collect())
 |      True
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  createTempView(self, name)
 |      Creates a local temporary view with this :class:`DataFrame`.
 |
 |      The lifetime of this temporary table is tied to the :class:`SparkSession`
 |      that was used to create this :class:`DataFrame`.
 |      throws :class:`TempTableAlreadyExistsException`, if the view name already exists in the
 |      catalog.
 |
 |      >>> df.createTempView("people")
 |      >>> df2 = spark.sql("select * from people")
 |      >>> sorted(df.collect()) == sorted(df2.collect())
 |      True
 |      >>> df.createTempView("people")  # doctest: +IGNORE_EXCEPTION_DETAIL
 |      Traceback (most recent call last):
 |      ...
 |      AnalysisException: u"Temporary table 'people' already exists;"
 |      >>> spark.catalog.dropTempView("people")
 |
 |      .. versionadded:: 2.0
 |
 |  crossJoin(self, other)
 |      Returns the cartesian product with another :class:`DataFrame`.
 |
 |      :param other: Right side of the cartesian product.
 |
 |      >>> df.select("age", "name").collect()
 |      [Row(age=2, name='Alice'), Row(age=5, name='Bob')]
 |      >>> df2.select("name", "height").collect()
 |      [Row(name='Tom', height=80), Row(name='Bob', height=85)]
 |      >>> df.crossJoin(df2.select("height")).select("age", "name", "height").collect()
 |      [Row(age=2, name='Alice', height=80), Row(age=2, name='Alice', height=85),
 |       Row(age=5, name='Bob', height=80), Row(age=5, name='Bob', height=85)]
 |
 |      .. versionadded:: 2.1
 |
 |  crosstab(self, col1, col2)
 |      Computes a pair-wise frequency table of the given columns. Also known as a contingency
 |      table. The number of distinct values for each column should be less than 1e4. At most 1e6
 |      non-zero pair frequencies will be returned.
 |      The first column of each row will be the distinct values of `col1` and the column names
 |      will be the distinct values of `col2`. The name of the first column will be `$col1_$col2`.
 |      Pairs that have no occurrences will have zero as their counts.
 |      :func:`DataFrame.crosstab` and :func:`DataFrameStatFunctions.crosstab` are aliases.
 |
 |      :param col1: The name of the first column. Distinct items will make the first item of
 |          each row.
 |      :param col2: The name of the second column. Distinct items will make the column names
 |          of the :class:`DataFrame`.
 |
 |      .. versionadded:: 1.4
 |
 |  cube(self, *cols)
 |      Create a multi-dimensional cube for the current :class:`DataFrame` using
 |      the specified columns, so we can run aggregations on them.
 |
 |      >>> df.cube("name", df.age).count().orderBy("name", "age").show()
 |      +-----+----+-----+
 |      | name| age|count|
 |      +-----+----+-----+
 |      | null|null|    2|
 |      | null|   2|    1|
 |      | null|   5|    1|
 |      |Alice|null|    1|
 |      |Alice|   2|    1|
 |      |  Bob|null|    1|
 |      |  Bob|   5|    1|
 |      +-----+----+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  describe(self, *cols)
 |      Computes basic statistics for numeric and string columns.
 |
 |      This include count, mean, stddev, min, and max. If no columns are
 |      given, this function computes statistics for all numerical or string columns.
 |
 |      .. note:: This function is meant for exploratory data analysis, as we make no
 |          guarantee about the backward compatibility of the schema of the resulting
 |          :class:`DataFrame`.
 |
 |      >>> df.describe(['age']).show()
 |      +-------+------------------+
 |      |summary|               age|
 |      +-------+------------------+
 |      |  count|                 2|
 |      |   mean|               3.5|
 |      | stddev|2.1213203435596424|
 |      |    min|                 2|
 |      |    max|                 5|
 |      +-------+------------------+
 |      >>> df.describe().show()
 |      +-------+------------------+-----+
 |      |summary|               age| name|
 |      +-------+------------------+-----+
 |      |  count|                 2|    2|
 |      |   mean|               3.5| null|
 |      | stddev|2.1213203435596424| null|
 |      |    min|                 2|Alice|
 |      |    max|                 5|  Bob|
 |      +-------+------------------+-----+
 |
 |      Use summary for expanded statistics and control over which statistics to compute.
 |
 |      .. versionadded:: 1.3.1
 |
 |  distinct(self)
 |      Returns a new :class:`DataFrame` containing the distinct rows in this :class:`DataFrame`.
 |
 |      >>> df.distinct().count()
 |      2
 |
 |      .. versionadded:: 1.3
 |
 |  drop(self, *cols)
 |      Returns a new :class:`DataFrame` that drops the specified column.
 |      This is a no-op if schema doesn't contain the given column name(s).
 |
 |      :param cols: a string name of the column to drop, or a
 |          :class:`Column` to drop, or a list of string name of the columns to drop.
 |
 |      >>> df.drop('age').collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.drop(df.age).collect()
 |      [Row(name='Alice'), Row(name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df.name).collect()
 |      [Row(age=5, height=85, name='Bob')]
 |
 |      >>> df.join(df2, df.name == df2.name, 'inner').drop(df2.name).collect()
 |      [Row(age=5, name='Bob', height=85)]
 |
 |      >>> df.join(df2, 'name', 'inner').drop('age', 'height').collect()
 |      [Row(name='Bob')]
 |
 |      .. versionadded:: 1.4
 |
 |  dropDuplicates(self, subset=None)
 |      Return a new :class:`DataFrame` with duplicate rows removed,
 |      optionally only considering certain columns.
 |
 |      For a static batch :class:`DataFrame`, it just drops duplicate rows. For a streaming
 |      :class:`DataFrame`, it will keep all data across triggers as intermediate state to drop
 |      duplicates rows. You can use :func:`withWatermark` to limit how late the duplicate data can
 |      be and system will accordingly limit the state. In addition, too late data older than
 |      watermark will be dropped to avoid any possibility of duplicates.
 |
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      >>> from pyspark.sql import Row
 |      >>> df = sc.parallelize([ \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=5, height=80), \
 |      ...     Row(name='Alice', age=10, height=80)]).toDF()
 |      >>> df.dropDuplicates().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      >>> df.dropDuplicates(['name', 'height']).show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      |  5|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.4
 |
 |  drop_duplicates = dropDuplicates(self, subset=None)
 |      :func:`drop_duplicates` is an alias for :func:`dropDuplicates`.
 |
 |      .. versionadded:: 1.4
 |
 |  dropna(self, how='any', thresh=None, subset=None)
 |      Returns a new :class:`DataFrame` omitting rows with null values.
 |      :func:`DataFrame.dropna` and :func:`DataFrameNaFunctions.drop` are aliases of each other.
 |
 |      :param how: 'any' or 'all'.
 |          If 'any', drop a row if it contains any nulls.
 |          If 'all', drop a row only if all its values are null.
 |      :param thresh: int, default None
 |          If specified, drop rows that have less than `thresh` non-null values.
 |          This overwrites the `how` parameter.
 |      :param subset: optional list of column names to consider.
 |
 |      >>> df4.na.drop().show()
 |      +---+------+-----+
 |      |age|height| name|
 |      +---+------+-----+
 |      | 10|    80|Alice|
 |      +---+------+-----+
 |
 |      .. versionadded:: 1.3.1
 |
 |  exceptAll(self, other)
 |      Return a new :class:`DataFrame` containing rows in this :class:`DataFrame` but
 |      not in another :class:`DataFrame` while preserving duplicates.
 |
 |      This is equivalent to `EXCEPT ALL` in SQL.
 |
 |      >>> df1 = spark.createDataFrame(
 |      ...         [("a", 1), ("a", 1), ("a", 1), ("a", 2), ("b",  3), ("c", 4)], ["C1", "C2"])
 |      >>> df2 = spark.createDataFrame([("a", 1), ("b", 3)], ["C1", "C2"])
 |
 |      >>> df1.exceptAll(df2).show()
 |      +---+---+
 |      | C1| C2|
 |      +---+---+
 |      |  a|  1|
 |      |  a|  1|
 |      |  a|  2|
 |      |  c|  4|
 |      +---+---+
 |
 |      Also as standard in SQL, this function resolves columns by position (not by name).
 |
 |      .. versionadded:: 2.4
 |
 |  explain(self, extended=None, mode=None)
 |      Prints the (logical and physical) plans to the console for debugging purpose.
 |
 |      :param extended: boolean, default ``False``. If ``False``, prints only the physical plan.
 |          When this is a string without specifying the ``mode``, it works as the mode is
 |          specified.
 |      :param mode: specifies the expected output format of plans.
 |
 |          * ``simple``: Print only a physical plan.
 |          * ``extended``: Print both logical and physical plans.

In [24]:
amazon_df.select(year("Date").alias("year"),
                      month("Date").alias("month"), 
                      "Low") \
                 .groupby("year","month") \
                 .avg("Low") \
                 .sort("year","month") \
                 .show()

+----+-----+------------------+
|year|month|          avg(Low)|
+----+-----+------------------+
|2019|    7|1948.1946176153847|
|2019|    8|1778.2340920454546|
|2019|    9|     1784.68599235|
|2019|   10|1736.6047840869564|
|2019|   11|1764.3005004499998|
|2019|   12|1773.8466622380954|
|2020|    1| 1870.354288809524|
|2020|    2|2045.0563194210524|
|2020|    3|1825.1590964090908|
|2020|    4|2185.9347679523808|
|2020|    5|     2364.48549805|
|2020|    6| 2579.099553909091|
|2020|    7|2976.1799859999996|
+----+-----+------------------+

In [25]:
amazon_df.select(year("Date").alias("year"),
                      month("Date").alias("month"), 
                      "Low") \
                 .groupby("year","month") \
                 .avg("Low") \
                 .sort("year","month") \
                 .explain(True)

== Parsed Logical Plan ==
'Sort ['year ASC NULLS FIRST, 'month ASC NULLS FIRST], true
+- Aggregate [year#196, month#197], [year#196, month#197, avg(Low#37) AS avg(Low)#205]
   +- Project [year(cast(Date#34 as date)) AS year#196, month(cast(Date#34 as date)) AS month#197, Low#37]
      +- Relation[Date#34,Open#35,High#36,Low#37,Close#38,AdjClose#39,Volume#40] csv

== Analyzed Logical Plan ==
year: int, month: int, avg(Low): double
Sort [year#196 ASC NULLS FIRST, month#197 ASC NULLS FIRST], true
+- Aggregate [year#196, month#197], [year#196, month#197, avg(Low#37) AS avg(Low)#205]
   +- Project [year(cast(Date#34 as date)) AS year#196, month(cast(Date#34 as date)) AS month#197, Low#37]
      +- Relation[Date#34,Open#35,High#36,Low#37,Close#38,AdjClose#39,Volume#40] csv

== Optimized Logical Plan ==
Sort [year#196 ASC NULLS FIRST, month#197 ASC NULLS FIRST], true
+- Aggregate [year#196, month#197], [year#196, month#197, avg(Low#37) AS avg(Low)#205]
   +- Project [year(cast(Date#34 as date)) AS year#196, month(cast(Date#34 as date)) AS month#197, Low#37]
      +- Relation[Date#34,Open#35,High#36,Low#37,Close#38,AdjClose#39,Volume#40] csv

== Physical Plan ==
*(3) Sort [year#196 ASC NULLS FIRST, month#197 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(year#196 ASC NULLS FIRST, month#197 ASC NULLS FIRST, 200), true, [id=#173]
   +- *(2) HashAggregate(keys=[year#196, month#197], functions=[avg(Low#37)], output=[year#196, month#197, avg(Low)#205])
      +- Exchange hashpartitioning(year#196, month#197, 200), true, [id=#169]
         +- *(1) HashAggregate(keys=[year#196, month#197], functions=[partial_avg(Low#37)], output=[year#196, month#197, sum#211, count#212L])
            +- *(1) Project [year(cast(Date#34 as date)) AS year#196, month(cast(Date#34 as date)) AS month#197, Low#37]
               +- FileScan csv [Date#34,Low#37] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex[file:/home/jovyan/work/test_automation/AMZN.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Date:string,Low:double>

## Spark SQL

In [26]:
amazon_df.registerTempTable("amazon_stocks")

In [27]:
google_df.registerTempTable("google_stocks")

In [28]:
tesla_file = 'TSLA.csv'
tesla_df = sqlContext.read.load(tesla_file,
                                format='com.databricks.spark.csv',
                                header='true',
                                inferSchema='true')
tesla_df.registerTempTable("tesla_stocks")

In [29]:
sqlContext.sql("SELECT * FROM amazon_stocks").show(5)

+----------+-----------+-----------+-----------+-----------+-----------+-------+
|      Date|       Open|       High|        Low|      Close|   AdjClose| Volume|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
|2019-07-15|2021.400024|2022.900024|2001.550049| 2020.98999| 2020.98999|2981300|
|2019-07-16|2010.579956|2026.319946|2001.219971|2009.900024|2009.900024|2618200|
|2019-07-17|2007.050049|     2012.0|1992.030029|1992.030029|1992.030029|2558800|
|2019-07-18| 1980.01001|     1987.5|1951.550049|1977.900024|1977.900024|3504300|
|2019-07-19|1991.209961|     1996.0| 1962.22998| 1964.52002| 1964.52002|3185600|
+----------+-----------+-----------+-----------+-----------+-----------+-------+
only showing top 5 rows

In [30]:
sqlContext.sql("SELECT year(Date) as year, month(Date) as month, avg(Close) FROM amazon_stocks GROUP BY year, month").show()

+----+-----+------------------+
|year|month|        avg(Close)|
+----+-----+------------------+
|2019|   10|1752.3317498695653|
|2020|    6|      2613.5454545|
|2020|    3|1872.3104358636365|
|2019|    8|1793.6027220909093|
|2020|    4|2228.7052408571426|
|2020|    1|1884.2376128571425|
|2019|    9|     1799.12099615|
|2019|   12|1785.7728446190476|
|2020|    7| 3053.100016222222|
|2020|    2|2066.1752672631574|
|2019|    7|1964.6846265384618|
|2019|   11|      1774.2939941|
|2020|    5|2394.1840209499996|
+----+-----+------------------+

In [31]:
# When did the closing price of Google go either up or down by more than $4 in a single day?
sqlContext.sql("SELECT Date, Open, Close, abs(Close - Open) as dif FROM google_stocks WHERE abs(Close - Open) > 4").show()

+----------+-----------+-----------+------------------+
|      Date|       Open|      Close|               dif|
+----------+-----------+-----------+------------------+
|2019-07-16|     1146.0|1153.579956| 7.579956000000038|
|2019-07-17|1150.969971|1146.349976| 4.619995000000017|
|2019-07-18| 1141.73999|1146.329956| 4.589966000000004|
|2019-07-19|1148.189941|1130.099976| 18.08996500000012|
|2019-07-22|1133.449951|1138.069946| 4.619995000000017|
|2019-07-24|1131.900024|1137.810059|  5.91003499999988|
|2019-07-25|1137.819946|1132.119995|5.6999510000000555|
|2019-07-26|1224.040039|1250.410034|26.369995000000017|
|2019-07-31|     1223.0|1216.680054| 6.319946000000073|
|2019-08-01|1214.030029| 1209.01001|5.0200190000000475|
|2019-08-02| 1200.73999| 1193.98999|              6.75|
|2019-08-05|1170.040039|1152.319946|17.720092999999906|
|2019-08-06|1163.310059|1169.949951| 6.639892000000145|
|2019-08-07|     1156.0| 1173.98999|17.989990000000034|
|2019-08-08|1182.829956|1204.800049|21.970092999999906|
|2019-08-09| 1197.98999| 1188.01001| 9.979980000000069|
|2019-08-12|1179.209961|1174.709961|               4.5|
|2019-08-13|1171.459961| 1197.27002| 25.81005899999991|
|2019-08-14|1176.310059|1164.290039|12.020019999999931|
|2019-08-19|1190.089966|1198.449951| 8.359985000000052|
+----------+-----------+-----------+------------------+
only showing top 20 rows

In [32]:
# Min and Max Adjusted Close price per year for Tesla
sqlContext.sql("SELECT year(Date) as year, \
                min(AdjClose) as min, max(AdjClose) as max \
                FROM tesla_stocks \
                GROUP BY year").show()

+----+----------+-----------+
|year|       min|        max|
+----+----------+-----------+
|2019|211.399994| 430.940002|
|2020|361.220001|1544.650024|
+----+----------+-----------+

In [33]:
joinclose_df = sqlContext.sql("SELECT tesla_stocks.Date, \
                tesla_stocks.Close as teslaClose, \
                amazon_stocks.Close as amazonClose, \
                google_stocks.Close as googleClose \
                FROM tesla_stocks \
                JOIN google_stocks ON tesla_stocks.Date = google_stocks.Date \
                JOIN amazon_stocks ON amazon_stocks.Date = tesla_stocks.Date")

In [34]:
joinclose_df.show()

+----------+----------+-----------+-----------+
|      Date|teslaClose|amazonClose|googleClose|
+----------+----------+-----------+-----------+
|2019-07-15|     253.5| 2020.98999|1150.339966|
|2019-07-16|252.380005|2009.900024|1153.579956|
|2019-07-17|254.860001|1992.030029|1146.349976|
|2019-07-18|253.539993|1977.900024|1146.329956|
|2019-07-19|258.179993| 1964.52002|1130.099976|
|2019-07-22|255.679993|1985.630005|1138.069946|
|2019-07-23|260.170013| 1994.48999|1146.209961|
|2019-07-24|264.880005|2000.810059|1137.810059|
|2019-07-25|228.820007|1973.819946|1132.119995|
|2019-07-26|228.039993|1943.050049|1250.410034|
|2019-07-29|235.770004|1912.449951|1239.410034|
|2019-07-30|242.259995|1898.530029|1225.140015|
|2019-07-31|241.610001|1866.780029|1216.680054|
|2019-08-01|233.850006|1855.319946| 1209.01001|
|2019-08-02|234.339996| 1823.23999| 1193.98999|
|2019-08-05|228.320007|1765.130005|1152.319946|
|2019-08-06|    230.75|1787.829956|1169.949951|
|2019-08-07|233.419998|1793.400024| 1173.98999|
|2019-08-08|238.300003|1832.890015|1204.800049|
|2019-08-09|235.009995|1807.579956| 1188.01001|
+----------+----------+-----------+-----------+
only showing top 20 rows

In [35]:
avg_close_df = sqlContext.sql("SELECT year(tesla_stocks.Date) as year, \
                month(tesla_stocks.Date) as month, \
                avg(tesla_stocks.Close) as AvgTeslaClose, \
                avg(amazon_stocks.Close) as AvgAmazonClose, \
                avg(google_stocks.Close) as AvgGoogleClose \
                FROM tesla_stocks \
                JOIN google_stocks ON tesla_stocks.Date = google_stocks.Date \
                JOIN amazon_stocks ON amazon_stocks.Date = tesla_stocks.Date \
                GROUP BY year, month")
avg_close_df.show()

+----+-----+------------------+------------------+------------------+
|year|month|     AvgTeslaClose|    AvgAmazonClose|    AvgGoogleClose|
+----+-----+------------------+------------------+------------------+
|2019|   10| 266.3547840434783|1752.3317498695653|1232.7117442608696|
|2020|    6| 963.5422779545456|      2613.5454545|1431.0477184545452|
|2020|    3| 559.1013613181818|1872.3104358636365|1188.3940984545457|
|2019|    8|225.10272704545451|1793.6027220909093|1180.6868120454546|
|2020|    4| 663.5985761428572|2228.7052408571426|1234.1404797142854|
|2020|    1| 528.6590503809524|1884.2376128571425|1436.6537968571424|
|2019|    9|237.26149830000003|     1799.12099615|     1220.83952035|
|2019|   12| 377.6947631904762|1785.7728446190476|1340.8676351904762|
|2020|    7|1378.7111273333333| 3053.100016222222|1496.0299885555555|
|2020|    2| 797.4468415263159|2066.1752672631574|1464.1105184736841|
|2019|    7|248.43769253846148|1964.6846265384618|1170.1961483076923|
|2019|   11|338.30000000000007|      1774.2939941|     1304.27899165|
|2020|    5|      799.42549745|2394.1840209499996|1381.1137511999998|
+----+-----+------------------+------------------+------------------+

## Save Spark DataFrames
## Parquet Files

In [36]:
joinclose_df.write.format("parquet").save("joinStock.parquet")

In [37]:
final_df = sqlContext.read.parquet("joinStock.parquet")

In [38]:
final_df.show()

+----------+----------+-----------+-----------+
|      Date|teslaClose|amazonClose|googleClose|
+----------+----------+-----------+-----------+
|2019-07-15|     253.5| 2020.98999|1150.339966|
|2019-07-16|252.380005|2009.900024|1153.579956|
|2019-07-17|254.860001|1992.030029|1146.349976|
|2019-07-18|253.539993|1977.900024|1146.329956|
|2019-07-19|258.179993| 1964.52002|1130.099976|
|2019-07-22|255.679993|1985.630005|1138.069946|
|2019-07-23|260.170013| 1994.48999|1146.209961|
|2019-07-24|264.880005|2000.810059|1137.810059|
|2019-07-25|228.820007|1973.819946|1132.119995|
|2019-07-26|228.039993|1943.050049|1250.410034|
|2019-07-29|235.770004|1912.449951|1239.410034|
|2019-07-30|242.259995|1898.530029|1225.140015|
|2019-07-31|241.610001|1866.780029|1216.680054|
|2019-08-01|233.850006|1855.319946| 1209.01001|
|2019-08-02|234.339996| 1823.23999| 1193.98999|
|2019-08-05|228.320007|1765.130005|1152.319946|
|2019-08-06|    230.75|1787.829956|1169.949951|
|2019-08-07|233.419998|1793.400024| 1173.98999|
|2019-08-08|238.300003|1832.890015|1204.800049|
|2019-08-09|235.009995|1807.579956| 1188.01001|
+----------+----------+-----------+-----------+
only showing top 20 rows

In [39]:
final_df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- teslaClose: double (nullable = true)
 |-- amazonClose: double (nullable = true)
 |-- googleClose: double (nullable = true)